// Required
@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'variables';

:root {
  --danger-dark: #d0010f;
  --secondary-dark: #f6860e;
  --primary-dark: #0044ab;
  --grey-dark: #605e72;
  --light-dark-grey: #c3c0c0;
}

// Optional
@import '~bootstrap/scss/root';
//@import "~bootstrap/scss/code";
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";

@import '~bootstrap/scss/badge';
//@import "~bootstrap/scss/jumbotron";
@import '~bootstrap/scss/alert';
//@import "~bootstrap/scss/progress";
@import '~bootstrap/scss/media';
//@import "~bootstrap/scss/list-group";
@import '~bootstrap/scss/close';
//@import "~bootstrap/scss/toasts";
@import '~bootstrap/scss/modal';
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~react-datepicker/dist/react-datepicker.css';

// Extending react-datepicker
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper {
  z-index: 2;
}

.form-label {
  font-weight: 700;
  font-size: $font-size-base * 0.75;
}

img {
  max-width: 100%;
}

body {
  font-family: $font-family-base !important;
  min-height: 100vh;
}

#__next {
  min-height: calc(100vh - 146px);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main-layout {
  flex: 1 1 auto;

  &-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0, -4px);
  -ms-transform: rotate(3deg) translate(0, -4px);
  transform: rotate(3deg) translate(0, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner,
#nprogress .spinner-icon {
  display: none;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.background-cover {
  background-size: cover;
}

.background-center {
  background-position: center;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.mx-n15px {
  margin: 0 15px !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .border-radius#{$infix} {
      border-radius: $card-border-radius !important;
    }
    .border-radius#{$infix}-none {
      border-radius: 0 !important;
    }
  }
}

.list-style-type-none {
  list-style-type: none;
}

.min-w-auto {
  min-width: auto;
}

.max-w-100 {
  max-width: 100%;
}

.white-space-nowrap {
  white-space: nowrap;
}

.max-vh-50 {
  max-height: 50vh;
}

.shadow {
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.2);
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-inherit {
  color: inherit;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.rounded-sm {
  border-radius: 10px;
}

.rounded-l {
  border-top-left-radius: 1.25rem !important;
  border-bottom-left-radius: 1.25rem !important;
}

.rounded-l-none {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-r-none {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-none {
  border-radius: 0 !important;
}

.rounded-sm-md {
  @include media-breakpoint-up(sm) {
    border-radius: 1.25rem !important;
  }
}

//Badge
.badge {
  @each $key, $val in $theme-colors {
    &-outline-#{$key} {
      border: solid 2px $val;
    }
  }
}

.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.radius-0 {
  border-radius: 0;
}

.radius-sm {
  border-radius: $spacer;
}

.opacity-50 {
  opacity: 0.5;
}

.mt-navbar {
  margin-top: 77px;
}
