.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
}

.search {
  border-radius: 20px;
  font-size: 25px;
  padding-left: 10px;
  width: 600px;
}

.searchbtn {
  font-size: 18px;
  border-radius: 20px;
}

.searchbarcontainer {
  position: relative;
}
